* {
    box-sizing: border-box;
  }
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: white;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: black;
  
  }
  header {
    
    background: linear-gradient(
      -45deg,
      rgb(223, 245, 253),
      rgb(255, 240, 107),
      rgb(206, 255, 250),
      rgb(218, 165, 32)
    );
    background-size: 400% 400%;
    animation: Gradient 20s ease infinite;
    height: 80px;
  }
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .navigation {
    position: relative;
    padding-bottom: 16px;
    z-index: 2;
    overflow: hidden;
  }
  ul {
    list-style: none;
  }
  ul li {
    display: inline-block;
  }
  .nav-brand {
    display: block;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    margin: 16px 25px 0px 25px;
    float: left;
  }
  .nav-brand img {
    width: 80px;
    height: 50px;
    float: left;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .nav-link {
    margin: 32px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    display: block;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
  
    float: left;
  }
  .nav a {
    text-align: center;
    margin: 16px 25px 0px 25px;
  }
  .heading-carousil {
    margin: 10px 40px 40px 40px;
  }
  
  h2 {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .popular-heading {
    border-bottom: 1px solid white;
    margin-top: 50px;
  }
  #image-container-action {
    height: 250px;
    clear: both;
    
  }
  .media-carousil {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px 5px;
    float: left;
  }
  div {
    display: block;
  }
  .media-carousil img {
    width: 200px;
    height: 200px;
  }
  .overlay {
    position: absolute;
    bottom: 0;
  
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    text-align: center;
  }
  b {
    font-weight: bold;
  }
  #image-container-drama {
    height: 250px;
    clear: both;
  }
  .image-container-sci-fi {
    height: 250px;
    clear: both;
  }
  
  .foot{
    
    margin-top: 110rem;
    position:absolute;
  
  
      
      height: 76px;
     
      width: 100%;
      grid-row-start: 2;
      grid-row-end: 3;
      background: linear-gradient(-45deg, rgb(223, 245, 253), rgb(255, 240, 107), rgb(206, 255, 250), rgb(218, 165, 32));
      background-size: 400% 400%;
      animation: Gradient 20s ease infinite;
  }
  @keyframes Gradient{
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .foot p{
    margin-top: 28px;
      color: rgb(63, 63, 63);
  }
  
  
  
  
  /*movie styling starts here    */
  
  /* Style The Dropdown Button */
  .search{
    display:flex;
    flex-direction: row;
    
  }
  .dropbtn {
    background-color: gold;
    color: black;
    padding: 5px 42px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 20px 5px 5px 45px;
    font-weight: bolder;
      text-align: left;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      border-radius: 4px;
    
  }
  .dropbtn{
    width: 160px;
      height: 38px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 45px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
      padding: 12px 16px;
      text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:gold; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: gold;
  }
  .fa{
    color: black;
    float: right;
   
  }
  /* form style */
  form{
   float: right;
   margin-left: 200px;
    
  }
  div{
    display: block;
  }
  form{
    display: block;
      margin-top: 0em;
      margin-block-end: 1em;
  }
  input {
    margin-top:18px;
    
      height: 40px;
      margin-right: 55px;
      border: rgb(24, 23, 21);
      border-radius: 4px;
      border-style: double;
      width: 1059px;
      position: relative;
      background-color: gold;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: center;
      
    }
    /* design the submit logo */
    .fa{
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
    .fa{
      float: right;
    }
  
    .search-container-button{
      border: 0px;
      border-radius: 0px;
    
  }
  .search-container-button  {
    float: right;
    padding: 6px 10px;
    margin-right: 25px;
    background: gold;
    font-size: 20px;
    cursor: pointer;
    right: 38px;
    margin-left: 0px;
    margin-top: -37px;
    margin-bottom: 0px;
    position: absolute;
    font-weight: bolder;
   
  }
  .search-container-button button:focus{
    outline: none;
  
  }
  /* desin movie images */
  .heading-carousil2{
    margin-top: -70px;
    margin-left: 40px;
  }
  .heading-carousil3{
    margin-top: -30px;
    margin-left: 40px;
  }
  .footr{
    margin-top: 140rem;
    position:absolute;
  
  
      
      height: 76px;
     
      width: 100%;
      grid-row-start: 2;
      grid-row-end: 3;
      background: linear-gradient(-45deg, rgb(223, 245, 253), rgb(255, 240, 107), rgb(206, 255, 250), rgb(218, 165, 32));
      background-size: 400% 400%;
      animation: Gradient 20s ease infinite;
  }
  @keyframes Gradient{
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .footr p{
    margin-top: 28px;
      color: rgb(63, 63, 63);
      
  }
  
  
  